* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: sans-serif;
}

img {
  width: 45px;
  height: 45px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #fff;
}

.containe {
  background-color: #ffff;
  max-width: 600px;
  margin: auto;
  height: auto;
  padding: 10px;
  margin-top: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.066);
  border: 1px solid rgba(0, 0, 0, 0.066);
}

.logo {
  text-align: center;
}

.logo img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.logo h2 {
  font-size: 24px;
}

.platfrome-container {
  width: 80%;
  margin: 70px auto;
}

.platfrome-container .container {
  width: 100%;
}

.platfrome-container .container a {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 35%;
  text-decoration: none;
  color: #fff;
  overflow: hidden;
  position: relative;
  margin-bottom: 25px;
  letter-spacing: 2px;
  cursor: pointer;
}

.platfrome-container .container a:focus {
  outline: none;
}

a .all-point {
  visibility: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 5px;
  font-size: 5px;
}

.all-point .point {
  background-color: #fff;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  animation: loading-point 1s infinite;
}

.point:nth-child(2) {
  animation-delay: 0.2s;
}

.point:nth-child(3) {
  animation-delay: 0.4s;
}

.point:nth-child(4) {
  animation-delay: 0.6s;
}

@keyframes loading-point {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.a1 {
  background-color: #0497e1;
  color: #fff;
  border-radius: 200px;
}

.a2, .a7 {
  background-color: black;
  color: #fff;
  border-radius: 200px;
}

.a3 {
  background-color: #1877F2;
  color: #1877F2;
  border-radius: 200px;
}

.a4 {
  background-color: #FF0000;
  color: #fff;
  border-radius: 200px;
}

.a5 {
  background: linear-gradient(45deg, #E1306C, #FD1D1D, #FDCB58, #833AB4, #4C69BA);

  color: #fff;
  border-radius: 200px;
}

.a6 {
  background-color: #25D366;
  color: #fff;
  border-radius: 200px;
}

.a1 img {
  border: 5px solid #ffff;
  width: 40px;
  height: 40px;
}

.a2 img {
  border: 5px solid #ffff;
  width: 40px;
  height: 40px;
}

.a3 img {
  border: 4px solid #ffff;
  width: 40px;
  height: 40px;
}

.a4 img {
  border: 4px solid #ffff;
  width: 40px;
  height: 40px;
}

.a5 img {
  border: 4px solid #ffff;
  width: 40px;
  height: 40px;
}

.a6 img {
  border: none;
  width: 50px;
  height: 50px;
}

.a7 img {
  border: 4px solid #ffff;
  width: 40px;
  height: 40px;
}

.a1:hover, .a1:active {
  box-shadow: 3px 3px 2cap 3px #0497e166;
  border-radius: 200px;
  transition: box-shadow 0.2s ease-in-out;
}

.a2:hover, .a2:active, .a7:hover, .a7:active {
  box-shadow: 3px 3px 2cap 3px rgba(0, 0, 0, 0.358);
  border-radius: 200px;
  transition: box-shadow 0.2s ease-in-out;
}

.a3:hover, .a3:active {
  box-shadow: 3px 3px 2cap 3px #1876f25e;
  border-radius: 200px;
  transition: box-shadow 0.2s ease-in-out;
}

.a4:hover, .a4:active {
  box-shadow: 3px 3px 2cap 3px #ff000043;
  border-radius: 200px;
  transition: box-shadow 0.2s ease-in-out;
}

.a5:hover, .a5:active {
  box-shadow: 3px 3px 2cap 3px #ff000043;
  border-radius: 200px;
  transition: box-shadow 0.2s ease-in-out;
}

.a6:hover, .a6:active {
  box-shadow: 3px 3px 2cap 3px #25d36553;
  border-radius: 200px;
  transition: box-shadow 0.2s ease-in-out;
}



@media (max-width: 480px) {
  .platfrome-container .container {
    gap: 17%;
    margin-bottom: 25px;
  }

  .containe {
    max-width: 100%;
  }

  .platfrome-container {
    width: 95%;
    margin: 80px auto;
  }

  .platfrome-container .container a {
    gap: 30%;
  }

  .logo h2 {
    font-size: 22px;
  }
}